<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="aboutStyles.css">
</head>
<body>
    <ul>
        <div class="nav">
            <li><a href="/">Home🏠</a></li>
            <li><a href="works.html">My Works🙈</a></li>
            <li><a href="gallery.html">More Cuteness🥰</a></li>
        </div>
    </ul>
<div class="description">
    <h1>About Me</h1>

    <h4>I'm a 60lbs Victorian Bulldog and here is a brief description of my breed:<br>
        <br>
        The Victorian Bulldog is a medium to large dog breed in the UK. 
        It has a life span of 12 to 14 years and was bred to bring back a line of Bulldogs from older 
        times but ones that were healthier and with less of the issues many Bulldogs have today. This 
        is not the same dog as the Olde Victorian Bulldog that was bred by Carlos Woods though the names 
        are similar. The Victorian Bulldog is also called the Mollett Victorian Bulldog and its focus is 
        to be a companion dog. </h4>
        <img class="profile-img" src="images/profile.jpg" alt="">
</div>


</body>
</html>