<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <ul>
        <div class="nav">
            <li><a href="about.html">About Me 🐶</a></li>
            <li><a href="works.html">My Works🙈</a></li>
            <li><a href="gallery.html">More Cuteness🥰</a></li>
        </div>
    </ul>
    
    <div class="intro-class">
        <h1>Hi I'm Vicky</h1>
        <img id="the-cutest" src="images/IMG_0361.jpeg" alt="The Cutest Image">
    </div>
</body>
</html>