<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="workStyles.css">
</head>
<body>
    <ul>
        <div class="nav">
            <li><a href="/">Home🏠</a></li>
            <li><a href="about.html">About Me 🐶</a></li>
            <li><a href="gallery.html">More Cuteness🥰</a></li>
        </div>
    </ul>
    <div class="information">
        <h1>What I do</h1>
        <p>As the great companion I am, I spend the whole day on the couch.
           All I do is eat, and sleep andddddd... not much more. Sometimes I play but just a little.
           I rarely ever bark, but I do take good care of my family as they're very special 
           to me, they give me food and a place to sleep, all I really need. <br>
           <br>
           Holes lots of holes. When I go out to the backyard that's basically what I spend my precious energy on, opening as many holes in the dirt as possible.
        </p>
        <div class="img-div">
            <div>
                 <img class="img" src="/images/posing1.jpeg" alt="">
                <h4>Here I am posing and admiring one of my artpieces.</h4>
            </div>
            <div>
                <img class="img" src="/images/couch.jpeg" alt="">
                <h4>And this one shows what I do when Im not digging holes.</h4>
            </div>
        </div>
        
    </div>
</body>
</html>